
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .gallery {
    text-align: center;
  }
  
  .image {
    width: 800px;
    height: 600px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .buttons {
    margin-top: 20px;
    text-align: center;
    padding-left: 50px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #140788;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0c071d;
  }
  